@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: #0f172a;
  /* Slate 900 */
}

/* Custom Utilities if needed */
.text-balance {
  text-wrap: balance;
}